<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vue JS Tutorial</title>
    <link href="static/style.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <div class="box-left">
        <h1>{{ greet('Afternoon') }}</h1>
        <p>{{ name }}</p>
        <h1>{{ job }}</h1>
        <a v-bind:href="website">My Site</a>
        <a v-on:click.prevent='clickME' href="https://thapapujan.com.np">My Site</a>
        <p v-html="websiteTag"></p>

        <button @click="add(1)">Add A Year</button>
        <button v-on:click="subtract(1)">Sub A Year</button>
        <button @dblclick="add(10)">Add 10 Year</button>
        <button v-on:dblclick="subtract(10)">Sub 10 Year</button>
        <p>My age is {{ age }}</p>

        <h2>Keyboard event</h2>
        <label>Name:</label><input type="text" v-on:keyup.enter="inputName"/>
        <label>Age:</label><input type="text" @keyup.enter="inputAge"/>

        <h2>2-way data binding</h2>
        <label>Name:</label><input type="text" v-model="newName"/><span>{{ newName }}</span>

        <h2>Computed Properties</h2>
        <p>Age : {{ newAge }}</p>
        <button @click="a++">A</button>
        <p>A -- {{ a }}</p>
        <button @click="b++">B</button>
        <p>B -- {{ b }}</p>
        <span>Add to age A: {{ addToA }}</span>
        <span>Add to age B: {{ addToB }}</span>

        <h1>Dynamic CSS</h1>
        <h2>Example 1</h2>
        <div @click="available = !available" v-bind:class="{available: available, dynamic: dynamic}">
          <span>Pujan</span>
        </div>
        <h2>Example 2</h2>
        <button @click="available = !available">Toggle Available</button>
        <button @click="nearby = !nearby">Toggle Nearby</button>
        <div v-bind:class="dynaClasses" class="dynamic">
          <span>Thapa</span>
        </div>

      </div>Conditional</h2>
      <button @click="error= !error">Toggle Available</button>
      <button @click="success= !success">Toggle Nearby</button>
      <p v-if="error">Error!</p>
      <p v-else-if="success">Success!</p>
      <!--<p v-show="error">Error true!</p>-->
      <!--<p v-show="success">Success true!</p>-->

      <div>Looping with v-for</div>
      <ul>
        <li v-for="what in whatis">{{ what }}</li>
      </ul>
      <ul>
        <li v-for="(whatnot, index) in whatisnot">{{ index }}. {{ whatnot.name }} -- {{ whatnot.age }}</li>
      </ul>
      <!--using '<template>' tag, it loops through the inside elements and renders them, not like as in the above
      example where the <li> is used or any other standard html tags are used in which the tag is looped too-->
      <template v-for="whatnot in whatisnot">
        <div v-for="(val, key) in whatnot">
          {{ key }} -- {{ val }}
        </div>
      </template>

      <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
      <greeting></greeting>
     </div>
    <div id="new-instance">
      <p>{{ title }}</p>
      <p>From previous vue instance( NAME ): {{ fromOne }}</p>
      <greeting></greeting>
    </div>

  </body>
</html>
